<!DOCTYPE html>
<html>
  <head>
    <title>FetchRewards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <%= render 'layouts/header' %>
  <br>
    <%= yield %>
  </body>
</html>
<center><%= render 'layouts/footer' %>
